<template>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Expense <small>Add New Expense</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link
                                to="/expense-list"
                                class="btn btn-outline-primary"
                            >
                                Expense List
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>
                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 1</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 2</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form @submit.prevent="addExpense">
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="Expense_name"
                                >Expense Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="Expense_name"
                                    class="form-control"
                                    v-model="form.expense_title"
                                />
                                 <small class="text-danger" v-if="errors.expense_title">{{errors.expense_title[0]}}</small>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="Expense_name"
                                >Expense Details <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea
                                    name=""
                                    id=""
                                    cols="30"
                                    rows="10"
                                    class="form-control"
                                    v-model="form.expense_details"
                                ></textarea>
                                <small class="text-danger" v-if="errors.expense_details">{{errors.expense_details[0]}}</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3"
                                >Expense Date<span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9">
                                <input
                                    type="date"
                                    class="form-control"
                                    v-model="form.expense_date"
                                />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button">
                                    Cancel
                                </button>
                                <button class="btn btn-primary" type="reset">
                                    Reset
                                </button>
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            form: {
                expense_title: "",
                expense_details: "",
                expense_date: "",
            },
            errors: "",
        };
    },
    methods: {
        addExpense() {
            axios.post('/api/expense',this.form)
            .then((res)=>{
                 Toast.fire({
                        icon: "success",
                        title: "Expense Save successfully",
                    })
                    this.$router.push({name:'expenseList'})
            })
            .catch((error) => this.errors = error.response.data.errors)
        },
    },
};
</script>
