<template>
    <div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Expense List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link
                                to="/add-expense"
                                class="btn btn-outline-primary"
                            >
                                Add Expense
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>

                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                            >
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Search</label>
                            <input
                                type="text"
                                class="form-control"
                                name="serachBar"
                                style="width: 50%"
                                v-model="serachBar"
                            />
                            <br />
                            <div class="card-box table-responsive">
                                <table
                                    id="datatable-buttons"
                                    class="table table-striped table-bordered data-table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>Expense Name</th>
                                            <th>Expense Details</th>
                                            <th>Expense Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="expense in searchFilter"
                                            :key="expense"
                                        >
                                            <td>{{ expense.expense_title }}</td>
                                            <td>
                                                {{ expense.expense_details }}
                                            </td>
                                            <td>{{ expense.expense_date }}</td>
                                            <td>
                                                <button
                                                    class="btn btn-danger"
                                                    @click="
                                                        deleteExpense(
                                                            expense.id
                                                        )
                                                    "
                                                >
                                                    Delete
                                                </button>
                                                <router-link class="btn btn-warning" :to="{name:'editExpense',params:{id:expense.id}}" >Edit</router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            expenses: [],
            serachBar: "",
        };
    },
    computed: {
        searchFilter() {
            return this.expenses.filter((expense) => {
                return expense.expense_title.match(this.serachBar);
            });
        },
    },
    methods: {
        allExpense() {
            axios
                .get("/api/expense/")
                .then((response) => (this.expenses = response.data))
                .catch(console.log("error"));
        },
        deleteExpense(id) {
            console.log(id);
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                axios.delete('/api/expense/'+id)
                .then(() => {
                   return this.expenses  = this.expenses.filter((expense) => {
                         expense.id != id
                    })
                })
                .catch(console.log('error'))
                if (result.isConfirmed) {
                    Swal.fire(
                        "Deleted!",
                        "Your file has been deleted.",
                        "success"
                    );
                }
            });
        },
    },
    mounted() {
        this.allExpense();
    },
};
</script>

<style scoped>
#img_photo {
    width: 40px;
    height: 40px;
}
</style>
