<template>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Product <small>Add New Product</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <router-link
                to="/admin/product-list"
                class="btn btn-outline-primary"
              >
                Product List
              </router-link>
            </li>
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fa fa-wrench"></i
              ></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a class="dropdown-item" href="#">Settings 1</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form
            id="demo-form2"
            data-parsley-validate
            class="form-horizontal form-label-left"
            @submit.prevent="addProduct"
          >
            <div class="item form-group">
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="product_code"
                >Product Code <span class="required">*</span>
              </label>
              <div class="col-md-4 col-sm-4">
                <input
                  type="text"
                  id="product_code"
                  class="form-control"
                  name="product_code"
                  v-model="form.product_code"
                />
              </div>
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="Product_name"
                >Product Name <span class="required">*</span>
              </label>
              <div class="col-md-4 col-sm-4">
                <input
                  type="text"
                  id="Product_name"
                  class="form-control"
                  v-model="form.Product_name"
                />
              </div>
            </div>

            <div class="item form-group">
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="category_id"
                >Category
              </label>
              <div class="col-md-4 col-sm-4">
                <select
                  class="form-control"
                  v-model="selectedCategory"
                >
                  <option
                    v-for="category in categories"
                    :value="category.id"
                    :key="category.category_name"
                  >
                    {{ category.category_name }}
                  </option>
                </select>
              </div>
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="variation_id"
                >Variation Name
              </label>
              <div class="col-md-4 col-sm-4">
                <select
                  class="form-control"
                  id="variation_id"
                  v-model="selectedCategoryVariation"
                >
                  <option
                    v-for="catv in categoriesVariation"
                    :value="catv.id"
                    :key="catv.id"
                  >
                    {{ catv.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="item form-group">
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="variation_option_id"
                >Variation Option Name
              </label>
              <div class="col-md-4 col-sm-4">
                <select
                  class="form-control"
                  id="variation_option_id"
                  v-model="form.variation_option_id"
                >
                  <option
                    v-for="varopt in categoriesVariationList"
                    :value="varopt.id"
                    :key="varopt.id"
                  >
                    {{ varopt.value }}
                  </option>
                </select>
              </div>
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="quantity"
                >Quantity <span class="required">*</span>
              </label>
              <div class="col-md-4 col-sm-4">
                <input
                  type="text"
                  id="quantity"
                  class="form-control"
                  v-model="form.quantity"
                />
              </div>
            </div>

            <div class="item form-group">
              <!-- <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="buying_price"
                >Buying Price
              </label>
              <div class="col-md-4 col-sm-4">
                <input
                  type="text"
                  id="buying_price"
                  class="form-control"
                  v-model="form.buying_price"
                />
              </div> -->
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="sell_price"
                >Sell Price <span class="required">*</span>
              </label>
              <div class="col-md-4 col-sm-4">
                <input
                  type="text"
                  id="sell_price"
                  class="form-control"
                  v-model="form.sell_price"
                />
              </div>
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="photo"
                >Photo
              </label>
              <div class="col-md-3 col-sm-3">
                <input
                  id="photo"
                  class="btn btn-info"
                  type="file"
                  name="photo"
                  @change="onFileSelected"
                />
              </div>
              <div class="col-md-1">
                <img
                  :src="form.photo"
                  alt=""
                  style="height: 40px; width: 40px"
                />
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-2 col-sm-2 label-align"
                for="product_code"
                >Product Code <span class="required">*</span>
              </label>
              <div class="col-md-10 col-sm-10">
                <textarea name="ckeditor"  class="form-control"></textarea>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="item form-group">
              <div
                class="col-md-6 col-sm-6 offset-md-6"
                style="text-align: right"
              >
                <button type="submit" class="btn btn-success">Submit</button>

                <button class="btn btn-primary" type="reset">Reset</button>
                <button class="btn btn-primary" type="button">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (!User.logedIn()) {
      this.$router.push({ name: "/login" });
    }
  },

  data() {
    return {
      form: {
        product_code: "",
        Product_name: "",
        // category_id: "",
        supplier_id: "",
        buying_price: "",
        sell_price: "",
        quantity: "",
        photo: "",
      },
      categories: "",
      suppliers: "",
      categoriesVariation: "",
      categoriesVariationList: "",
      selectedCategory:"",
      selectedCategoryVariation:""
    };
  },
  watch:{
    selectedCategory : function(value){
      axios.get('/api/product/wise/category/variation?cat_id=' + this.selectedCategory)
      .then((response) => (this.categoriesVariation = response.data));
    },
    selectedCategoryVariation: function(value){
      axios.get('/api/variation/wise/variationoption?var_id=' + this.selectedCategoryVariation)

      .then(response => this.categoriesVariationList = response.data)
    }
  },
  methods: {
    onFileSelected(event) {
      let file = event.target.files[0];
      if (file.size > 1048770) {
        Toast.fire({
          icon: "error",
          title: "Image is less then 1MB",
        });
      } else {
        let reader = new FileReader();
        reader.onload = (event) => {
          this.form.photo = event.target.result;
        };
        reader.readAsDataURL(file);
      }
    },
    addProduct() {
      axios
        .post("/api/product", this.form)
        .then((res) => {
          Toast.fire({
            icon: "success",
            title: "Product Save successfully",
          });
          this.$router.push({ name: "ProductList" });
        })
        .catch((error) => (this.errors = error.response.data.errors));
    },
    
  },
  mounted() {
    axios
      .get("/api/category")
      .then((response) => (this.categories = response.data));
    axios
      .get("/api/category/wise-variation/list")
      .then((response) => (this.categoriesVariation = response.data));
    axios
      .get("/api/category/variation/list")
      .then((response) => (this.categoriesVariationList = response.data));
  },
};
</script>
