<template>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Variation <small>Add Variation Option</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <router-link
                  to="/admin/variation-list"
                  class="btn btn-outline-primary"
                >
                  Variation List
                </router-link>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form @submit.prevent="addVariation">
              <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="variation_id"
                  >Variation Option
                </label>
                <div class="col-md-6 col-sm-6">
                  <select
                    class="form-control"
                    id="variation_id"
                    v-model="form.variation_id" required
                  >
                    <option
                      v-for="variation in categoriesVariation"
                      :value="variation.id"
                      :key="variation.name"
                    >
                      {{ variation.name }}
                    </option>
                  </select>
                </div>
              </div>
  
              <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="variation_name"
                  >Variation Option Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="text"
                    id="variation_option_name"
                    class="form-control"
                    v-model="form.variation_option_name" required
                  />
                  <small class="text-danger" v-if="errors.variation_option_name">{{
                    errors.variation_option_name[0]
                  }}</small>
                </div>
              </div>
  
              <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="cat_status"
                  >Status
                </label>
                <div class="col-md-1 col-sm-1">
                  <input
                    type="checkbox"
                    id="cat_status"
                    class="form-control"
                    value="1"
                    v-model="form.cat_status"
                  />
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                  <button class="btn btn-primary" type="button">Cancel</button>
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </template>
    
    <script>
  export default {
    created() {
      if (!User.logedIn()) {
        this.$router.push({ name: "/login" });
      }
    },
  
    data() {
      return {
        form: {
          variation_id: "",
          variation_option_name: "",
          cat_status: "",
        },
        errors: "",
        categoriesVariation: "",
      };
    },
    methods: {
        addVariation() {
        axios
          .post("/api/store/variation", this.form)
          .then((res) => {
            Toast.fire({
              icon: "success",
              title: "Variation Option Save successfully",
            });
            this.$router.push({ name: "categoryList" });
          })
          .catch((error) => (this.errors = error.response.data.errors));
      },
    },
    mounted() {
      axios
      .get("/api/category/wise-variation/list")
      .then((response) => (this.categoriesVariation = response.data));
    },
  };
  </script>
    