<template>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Variation <small>Add Category Wise Variation</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <router-link
                to="/admin/category/wise/variation/list"
                class="btn btn-outline-primary"
              >
                Category Wise Variation List
              </router-link>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form @submit.prevent="addCategoryVariation">
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="category_id"
                >Category
              </label>
              <div class="col-md-6 col-sm-6">
                <select
                  class="form-control"
                  id="category_id"
                  v-model="form.category_id"
                >
                  <option
                    v-for="category in categories"
                    :value="category.id"
                    :key="category.category_name"
                  >
                    {{ category.category_name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="variation_name"
                >Variation Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="variation_name"
                  class="form-control"
                  v-model="form.variation_name"
                />
                <small class="text-danger" v-if="errors.variation_name">{{
                  errors.variation_name[0]
                }}</small>
              </div>
            </div>

            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="cat_status"
                >Status
              </label>
              <div class="col-md-1 col-sm-1">
                <input
                  type="checkbox"
                  id="cat_status"
                  class="form-control"
                  value="1"
                  v-model="form.cat_status"
                />
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="item form-group">
              <div class="col-md-6 col-sm-6 offset-md-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script>
export default {
  created() {
    if (!User.logedIn()) {
      this.$router.push({ name: "/login" });
    }
  },

  data() {
    return {
      form: {
        category_id: "",
        variation_name: "",
        cat_status: "",
      },
      errors: "",
      categories: "",
    };
  },
  methods: {
    addCategoryVariation() {
      axios
        .post("/api/store/category/wise-variation", this.form)
        .then((res) => {
          Toast.fire({
            icon: "success",
            title: "Category Save successfully",
          });
          this.$router.push({ name: "categoryVariationList" });
        })
        .catch((error) => (this.errors = error.response.data.errors));
    },
  },
  mounted() {
    axios.get("/api/category")
    .then((res) => this.categories = res.data)
    // axios
    //   .get("/api/category")
    //   .then((response) => (this.categories = response.data));
  },
};
</script>
  