<template>
  <div>
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Product List</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <router-link to="/admin/add-product" class="btn btn-outline-primary">
                Add Product
              </router-link>
            </li>
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-expanded="false"
                ><i class="fa fa-wrench"></i
              ></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <label for="">Search</label>
              <input
                type="text"
                class="form-control"
                name="serachBar"
                style="width: 50%"
                v-model="searchDt"
              />
              <br />
              <div class="card-box table-responsive">
                <table
                  id="datatable-buttons"
                  class="table table-striped table-bordered data-table"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Product Code</th>
                      <th>Product Name</th>
                      <th>Product Photo</th>
                      <th>Category Name</th>
                      <th>Supplier Name</th>
                      <th>Buying Price</th>
                      <th>Quantity</th>
                      <th>Selling Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="product in filterSearch" :key="product">
                      <td>{{ product.product_code }}</td>
                      <td>{{ product.name }}</td>
                      <td><img :src="product.photo" alt="product photo" /></td>
                      <td>{{ product.category_name }}</td>
                      <td>{{ product.supplier_name }}</td>
                      <td>{{ product.buying_price }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.selling_price }}</td>
                      <td>
                        <router-link
                          class="btn btn-success"
                          :to="{
                            name: 'editProduct',
                            params: { id: product.id },
                          }"
                          >Edit</router-link
                        >
                        <button class="btn btn-danger" @click="deleteProduct(product.id)">
                          Delete
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (!User.logedIn()) {
      this.$router.push({ name: "/login" });
    }

  },
  data() {
    return {
      products: [],
      searchDt: "",
    };
  },
  computed: {
    filterSearch() {
      return this.products.filter((product) => {
        return product.name.match(this.searchDt);
      });
    },
  },
  methods: {
    productList() {
      axios
        .get("/api/product")
        .then((response) => (this.products = response.data))
        .catch(console.log("error"));
    },
    deleteProduct(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        axios.get("/api/product/delete/" + id).then(({}) => {
          this.products = this.products.filter((product) => {
            return product.id != id;
          });
        });
        if (result.isConfirmed) {
          Swal.fire("Deleted!", "Your file has been deleted.", "success");
        }
      });
    },
  },

  mounted() {
    this.productList();
  },
};
</script>

<style scoped>
#img_photo {
  width: 40px;
  height: 40px;
}
</style>
