<template>
    <div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Variation List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link
                                to="/admin/variation"
                                class="btn btn-outline-primary"
                            >
                                Add Variation
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>

                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                            >
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Search</label>
                            <input
                                type="text"
                                class="form-control"
                                name="serachBar"
                                style="width: 50%"
                                v-model="searchDt"
                            />
                            <br />
                            <div class="card-box table-responsive">
                                <table
                                    id="datatable-buttons"
                                    class="table table-striped table-bordered data-table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Category Name</th>
                                            <th style="text-align:center">Variation Name</th>
                                            <th style="text-align:center">Variation Option</th>
                                            <th style="text-align:center">Status</th>
                                            <th style="text-align:center">Action  <span><i class="fa-sharp fa-solid fa-shirt"></i></span></th>
                                        </tr>
                                       
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="variation in filterSearch"
                                            :key="variation"
                                        >
                                            <td>{{ variation.category_name }}</td>
                                            <td>{{ variation.name }}</td>
                                            <td>{{ variation.value }}</td>
                                            <td>
                                                
                                                <span v-if="variation.status == 1" class="btn btn-small btn-primary">Active</span>
                                                <span  class="btn btn-small btn-danger" v-else>Inactive</span>
                                            
                                            </td>
                                            <td style="text-align:center">
                                                <!-- <router-link class="btn btn-success" :to="{name:'editCategoryVariation',params:{id:variation.id}}">Edit</router-link> -->
                                                <button
                                                    class="btn btn-danger"
                                                    @click="
                                                        deleteCategoryVariation(variation.id)
                                                    "
                                                >
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/login" });
        }
    },
    data() {
        return {
            categoriesVariationList: [],
            searchDt: "",
        };
    },
    computed: {
        filterSearch() {
            return this.categoriesVariationList.filter((variation) => {
                return variation.name.match(this.searchDt);
            });
        },
    },
    methods: {
        allCategoryVariation() {
            axios
                .get("/api/category/variation/list")
                .then((response) => (this.categoriesVariationList = response.data))
                .catch(console.log("error"));
        },
        deleteCategoryVariation(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                axios.get("/api/category/delete/" + id)
                .then(({}) => {
                    this.categories = this.categories.filter((category) => {
                        return category.id != id;
                    });
                });
                if (result.isConfirmed) {
                    Swal.fire(
                        "Deleted!",
                        "Your file has been deleted.",
                        "success"
                    );
                }
            });
        }
    },
    mounted() {
        this.allCategoryVariation();
    },
};
</script>

<style scoped>
#img_photo {
    width: 40px;
    height: 40px;
}
</style>
