<template>
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>Forget Password</h1>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Forget Password"
                            />
                        </div>
                        <div>
                            <button
                                type="submit"
                                class="btn btn-default submit"
                            >
                                Forget Password
                            </button>


                            <p class="change_link">
                                 Already a member ?
                                <router-link class="to_register" to="/admin/login">
                                    Login</router-link
                                >
                            </p>
                        </div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <router-link class="to_register" to="/admin/register">
                                    Create Account</router-link
                                >
                            </p>

                            <div class="clearfix"></div>

                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (User.logedIn()) {
            this.$router.push({ name: "home" });
        }
    },
};
</script>
