<template>
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form @submit.prevent="register">
                        <h1>Create Account</h1>
                        <div>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="username"
                                v-model="form.name"
                            />
                            <small class="text-danger" v-if="errors.name">{{
                                errors.name
                            }}</small>
                        </div>
                        <div>
                            <input
                                type="email"
                                class="form-control"
                                placeholder="email"
                                v-model="form.email"
                            />
                            <small class="text-danger" v-if="errors.email">{{
                                errors.email
                            }}</small>
                        </div>
                        <div>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="password"
                                v-model="form.password"
                            />
                            <small class="text-danger" v-if="errors.password">{{
                                errors.password
                            }}</small>
                        </div>
                        <div>
                            <button
                                type="submit"
                                class="btn btn-default submit"
                            >
                                Submit
                            </button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <router-link to="/admin/login">Log in</router-link>
                            </p>

                            <div class="clearfix"></div>

                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created(){
        if(User.logedIn()){
            this.$router.push({ name:'home'})
        }
    },
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
            },
            errors: "",
        };
    },
    methods: {
        register() {
            axios
                .post("/api/auth/signup", this.form)
                .then((res) => {
                    User.responseAfterLogin(res);
                    Toast.fire({
                        icon: "success",
                        title: "Signed in successfully",
                    });

                    this.$router.push({ name: "home" });
                })
                .catch((error) => (this.errors = error.response.data.errors));
        },
    },
};
</script>
