<template lang="">
    <a class="cart-button cart-button-style" href="#">
        <div class="bag-count">
          <i class="fa-solid fa-bag-shopping"></i>
          <span>{{cart.length}} Items</span>
        </div>
        <span class="bag-label">৳ 71000.00</span>
      </a>
      <!-- </div> -->
  
      <aside id="sidebar-cart">
        <main>
          <a href="#" class="close-button"><span class="close-icon">X</span></a>
          <h2>Shopping Bag <span class="count">2</span></h2>
          <ul class="products">
            <li class="product">
              <a href="#" class="cartProductLink">
                <span class="product-image">
                  <img src="assets/images/checkout/01.webp" alt="Product Photo" />
                </span>
                <span class="product-details">
                  <h3>Very Cool Product One</h3>
                  <span class="qty-price">
                    <span class="qty">
                      <button class="minus-button" id="minus-button-1">-</button>
                      <input
                        type="number"
                        id="qty-input-1"
                        class="qty-input"
                        step="1"
                        min="1"
                        max="1000"
                        name="qty-input"
                        value="1"
                        pattern="[0-9]*"
                        title="Quantity"
                        inputmode="numeric"
                      />
                      <button class="plus-button" id="plus-button-1">+</button>
                      <input
                        type="hidden"
                        name="item-price"
                        id="item-price-1"
                        value="12.00"
                      />
                    </span>
                    <span class="price">৳ 16.00</span>
                  </span>
                </span>
              </a>
              <a href="#remove" class="remove-button"
                ><span class="remove-icon">X</span></a
              >
            </li>
  
            <li class="product">
              <a href="#" class="cartProductLink">
                <span class="product-image">
                  <img src="assets/images/checkout/02.webp" alt="Product Photo" />
                </span>
                <span class="product-details">
                  <h3>Very Cool Product Two...</h3>
                  <span class="qty-price">
                    <span class="qty">
                      <button class="minus-button" id="minus-button-1">-</button>
                      <input
                        type="number"
                        id="qty-input-2"
                        class="qty-input"
                        step="1"
                        min="1"
                        max="1000"
                        name="qty-input"
                        value="1"
                        pattern="[0-9]*"
                        title="Quantity"
                        inputmode="numeric"
                      />
                      <button class="plus-button" id="plus-button-1">+</button>
                      <input
                        type="hidden"
                        name="item-price"
                        id="item-price-2"
                        value="12.00"
                      />
                    </span>
                    <span class="price">৳ 28.00</span>
                  </span>
                </span>
              </a>
              <a href="#remove" class="remove-button"
                ><span class="remove-icon">X</span></a
              >
            </li>
  
            <li class="product">
              <a href="#" class="cartProductLink">
                <span class="product-image">
                  <img src="assets/images/checkout/03.webp" alt="Product Photo" />
                </span>
                <span class="product-details">
                  <h3>Very Cool Product Three</h3>
                  <span class="qty-price">
                    <span class="qty">
                      <form action="#" name="qty-form" id="qty-form-1">
                        <button class="minus-button" id="minus-button-1">
                          -
                        </button>
                        <input
                          type="number"
                          id="qty-input-3"
                          class="qty-input"
                          step="1"
                          min="1"
                          max="1000"
                          name="qty-input"
                          value="1"
                          pattern="[0-9]*"
                          title="Quantity"
                          inputmode="numeric"
                        />
                        <button class="plus-button" id="plus-button-1">+</button>
                        <input
                          type="hidden"
                          name="item-price"
                          id="item-price-3"
                          value="12.00"
                        />
                      </form>
                    </span>
                    <span class="price">৳ 12.00</span>
                  </span>
                </span>
              </a>
              <a href="#remove" class="remove-button"
                ><span class="remove-icon">X</span></a
              >
            </li>
          </ul>
  
          <div class="other-items-in-cart">
            <div class="coupon">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="" role="presentation">
                  <button
                    class="btn btn-link p-0"
                    id="pills-cartCoupon-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-cartCoupon"
                    type="button"
                    role="tab"
                    aria-controls="pills-cartCoupon"
                    aria-selected="true"
                  >
                    Have a coupon code?
                  </button>
                </li>
              </ul>
              <div class="tab-content p-0 m-0" id="pills-tabContent">
                <div
                  class="tab-pane fade"
                  id="pills-cartCoupon"
                  role="tabpanel"
                  aria-labelledby="pills-cartCoupon-tab"
                >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter coupon Code"
                    />
                    <button
                      class="btn btn-primary"
                      type="button"
                      id="button-addon2"
                    >
                      Apply
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="totals">
            <div class="subtotal">
              <span class="amountLabel">Subtotal:</span>
              <span class="amount">৳ 54.00</span>
            </div>
            <div class="shipping">
              <span class="amountLabel">Shipping:</span>
              <span class="amount">৳ 7.95</span>
            </div>
            <div class="tax">
              <span class="amountLabel">Tax:</span>
              <span class="amount">৳ 71.95</span>
            </div>
            <div class="amountPayable">
              <span class="amountLabel">Amont Payable:</span>
              <span class="amount">৳ 71.95</span>
            </div>
          </div>
          <div class="action-buttons">
            <a class="checkout-button btn-primary" href="#"
              >Proceed to checkout</a
            >
          </div>
        </main>
      </aside>
</template>
<script>
export default {};
</script>
<style lang="">
</style>