<template>
    <div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Salary List</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Search</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="searchTerm"
                                width="50%"
                            />
                            <br />
                            <div class="card-box table-responsive">
                                <table
                                    id="datatable-buttons"
                                    class="table table-striped table-bordered data-table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Photo</th>
                                            <th>Phone</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            v-for="employee in filterSearch"
                                            :key="employee.id"
                                        >
                                            <td>{{ employee.name }}</td>
                                            <td>
                                                <img
                                                    :src="employee.photo"
                                                    id="img_photo"
                                                />
                                            </td>
                                            <td>{{ employee.phone }}</td>
                                            <td>{{ employee.salary }}</td>
                                            <td>
                                                <router-Link :to="{name:'paynow',params:{id:employee.id}}" class="btn btn-primary"
                                                    >Pay Now</router-Link>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { identifier } from "@babel/types";

export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            employees: [],
            searchTerm: "",
        };
    },
    computed: {
        filterSearch() {
            return this.employees.filter((employee) => {
                return employee.phone.match(this.searchTerm);
            });
        },
    },
    methods: {
        allEmployee() {
            axios
                .get("/api/employee")
                .then((response) => (this.employees = response.data));
        },

    },

    mounted() {
        this.allEmployee();
    },
};
</script>

<style scoped>
#img_photo {
    width: 40px;
    height: 40px;
}
</style>
