<template>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employee <small>Pay Salary</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form
                        id="demo-form2"
                        data-parsley-validate
                        class="form-horizontal form-label-left"
                        @submit.prevent="insertPaynow"
                    >
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="full_name"
                                >Full Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="full_name"
                                    class="form-control"
                                    v-model="form.name"
                                />
                                <input type="hidden" class="" v-model="form.id" />
                                <small
                                    class="text-danger"
                                    v-if="errors.full_name"
                                    >{{ errors.full_name[0] }}</small
                                >
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="salary"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Salary</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="salary"
                                    class="form-control"
                                    type="text"
                                    name="salary"
                                    v-model="form.salary"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.salary"
                                    >{{ errors.salary[0] }}</small
                                >
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="year"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Year</label
                            >
                            <div class="col-md-6 col-sm-6" >
                                <select id="year" name="year" class="form-control" v-model="form.year">
                                    <option>Select year</option>
                                    <option value="1940">1940</option>
                                    <option value="1941">1941</option>
                                    <option value="1942">1942</option>
                                    <option value="1943">1943</option>
                                    <option value="1944">1944</option>
                                    <option value="1945">1945</option>
                                    <option value="1946">1946</option>
                                    <option value="1947">1947</option>
                                    <option value="1948">1948</option>
                                    <option value="1949">1949</option>
                                    <option value="1950">1950</option>
                                    <option value="1951">1951</option>
                                    <option value="1952">1952</option>
                                    <option value="1953">1953</option>
                                    <option value="1954">1954</option>
                                    <option value="1955">1955</option>
                                    <option value="1956">1956</option>
                                    <option value="1957">1957</option>
                                    <option value="1958">1958</option>
                                    <option value="1959">1959</option>
                                    <option value="1960">1960</option>
                                    <option value="1961">1961</option>
                                    <option value="1962">1962</option>
                                    <option value="1963">1963</option>
                                    <option value="1964">1964</option>
                                    <option value="1965">1965</option>
                                    <option value="1966">1966</option>
                                    <option value="1967">1967</option>
                                    <option value="1968">1968</option>
                                    <option value="1969">1969</option>
                                    <option value="1970">1970</option>
                                    <option value="1971">1971</option>
                                    <option value="1972">1972</option>
                                    <option value="1973">1973</option>
                                    <option value="1974">1974</option>
                                    <option value="1975">1975</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="month"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Month</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <select
                                    id="month"
                                    name="month"
                                    class="form-control" v-model="form.month"
                                >
                                    <option>Select month</option>
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button">
                                    Cancel
                                </button>
                                <button class="btn btn-primary" type="reset">
                                    Reset
                                </button>
                                <button type="submit" class="btn btn-success">
                                    Pay Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },

    data() {
        return {
            form: {
                name: "",
                salary: "",
                year: "",
                month: "",
                id:""
            },
            errors: "",
        };
    },
    methods: {
        insertPaynow() {
            axios
                .post("/api/payroll/", this.form)
                .then(({ res }) => {
                    Toast.fire({
                        icon: "success",
                        title: "Data Save successfully",
                    });
                    this.$router.push({ name: "salary" });
                })

                .catch((error) = this.errors = error.response.data.errors);
        },
    },
    mounted() {
        let id = this.$route.params.id;
        axios
            .get("/api/employee/" + id)
            .then(({ data }) => (this.form = data))
            .catch(console.log("error"));
    },
};
</script>
