<template>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employee <small>Add New Employee</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link to="/employee-list" class="btn btn-outline-primary">
                                Employee List
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>
                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 1</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 2</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form
                        id="demo-form2"
                        data-parsley-validate
                        class="form-horizontal form-label-left"
                        @submit.prevent="AddEmployee"
                    >
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="full_name"
                                >Full Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="full_name"
                                    class="form-control"
                                    v-model="form.full_name"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.full_name"
                                    >{{ errors.full_name[0] }}</small
                                >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="email_address"
                                >Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="email_address"
                                    name="email_address"
                                    class="form-control"
                                    v-model="form.email_address"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.email_address"
                                    >{{ errors.email_address[0] }}</small
                                >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label
                                for="address"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Address</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="address"
                                    class="form-control"
                                    type="text"
                                    name="address"
                                    v-model="form.address"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.address"
                                    >{{ errors.address[0] }}</small
                                >
                            </div>
                        </div>

                         <div class="item form-group">
                            <label
                                for="phone"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Phone</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="phone"
                                    class="form-control"
                                    type="text"
                                    name="phone"
                                    v-model="form.phone"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.phone"
                                    >{{ errors.phone[0] }}</small
                                >
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="salary"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Salary</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="salary"
                                    class="form-control"
                                    type="text"
                                    name="salary"
                                    v-model="form.salary"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.salary"
                                    >{{ errors.salary[0] }}</small
                                >
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Date Of Birth <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="birthday"
                                    class="date-picker form-control"
                                    placeholder="dd-mm-yyyy"
                                    type="text"
                                    onfocus="this.type='date'"
                                    onmouseover="this.type='date'"
                                    onclick="this.type='date'"
                                    onblur="this.type='text'"
                                    onmouseout=""
                                    v-model="form.date"
                                />
                                <small class="text-danger" v-if="errors.date">{{
                                    errors.date[0]
                                }}</small>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="nid"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Nid Number</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="nid"
                                    class="form-control"
                                    type="text"
                                    name="nid"
                                    v-model="form.nid"
                                />
                                <small class="text-danger" v-if="errors.nid">{{
                                    errors.nid[0]
                                }}</small>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="photo"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Photo</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-10">
                                    <input
                                        id="photo"
                                        class="btn btn-info"
                                        type="file"
                                        name="photo"
                                        @change="onFileSelected"
                                    />
                                    <small
                                        class="text-danger"
                                        v-if="errors.photo"
                                        >{{ errors.photo[0] }}</small
                                    >
                                </div>
                                <div class="col-md-2">
                                    <img
                                        :src="form.photo"
                                        alt=""
                                        style="height: 40px; width: 40px"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button">
                                    Cancel
                                </button>
                                <button class="btn btn-primary" type="reset">
                                    Reset
                                </button>
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            form: {
                full_name: "",
                email_address: "",
                address: "",
                salary: "",
                date: "",
                nid: "",
                photo: "",
                phone: "",
            },
             errors: "",
        };

    },
    methods: {
        onFileSelected(event) {
            // console.log(event.target.files[0]);
            let file = event.target.files[0];
            if (file.size > 1048770) {
                Toast.fire({
                    icon: "error",
                    title: "Image is less then 1MB",
                });
            } else {
                let reader = new FileReader();
                reader.onload = (event) => {
                    console.log(event.target);
                    this.form.photo = event.target.result;
                };
                reader.readAsDataURL(file);
            }
        },
        AddEmployee() {
            axios
                .post("/api/employee", this.form)
                .then((res) => {
                    Toast.fire({
                        icon: "success",
                        title: "Signed in successfully",
                    });

                    this.$router.push({ name: "employeeList" });
                })
                .catch((error) => (this.errors = error.response.data.errors));
        },
    },
};
</script>
