<template>
    <div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Employee List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link
                                to="/add-employee"
                                class="btn btn-outline-primary"
                            >
                                Add Employee
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>

                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                            >
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Search</label>
                            <input
                                type="text"
                                class="form-control"
                                v-model="searchTerm"
                                width="50%"
                            />
                            <br />
                            <div class="card-box table-responsive">
                                <table
                                    id="datatable-buttons"
                                    class="table table-striped table-bordered data-table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Photo</th>
                                            <th>Phone</th>
                                            <th>Joining Date</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            v-for="employee in filterSearch"
                                            :key="employee.id"
                                        >
                                            <td>{{ employee.name }}</td>
                                            <td>
                                                <img
                                                    :src="employee.photo"
                                                    id="img_photo"
                                                />
                                            </td>
                                            <td>{{ employee.phone }}</td>
                                            <td>{{ employee.joining_date }}</td>
                                            <td>{{ employee.salary }}</td>
                                            <td>
                                                <router-Link :to="{name:'edit-employee',params:{id:employee.id}}" class="btn btn-primary"
                                                    >Edit</router-Link>
                                                <button
                                                    @click="
                                                        deleteEmployee(
                                                            employee.id
                                                        )
                                                    "
                                                    class="btn btn-danger"
                                                >
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { identifier } from "@babel/types";

export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            employees: [],
            searchTerm: "",
        };
    },
    computed: {
        filterSearch() {
            return this.employees.filter((employee) => {
                return employee.phone.match(this.searchTerm);
            });
        },
    },
    methods: {
        allEmployee() {
            axios
                .get("/api/employee")
                .then((response) => (this.employees = response.data));
        },
        deleteEmployee(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "Are You Sure to Delete This Employee ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                axios
                    .delete("/api/employee/" + id)
                    .then(() => {
                        this.employees = this.employees.filter((employee) => {
                            return employee.id != id;
                        });
                    })
                    .catch(() => {
                        this.$router.push({ name: "employeeList" });
                    });

                if (result.isConfirmed) {
                    Swal.fire(
                        "Deleted!",
                        "Your file has been deleted.",
                        "success"
                    );
                }
            });
        },
    },

    mounted() {
        this.allEmployee();
    },
};
</script>

<style scoped>
#img_photo {
    width: 40px;
    height: 40px;
}
</style>
