<template></template>

<script>
export default {
    created() {
        localStorage.removeItem("token");
        localStorage.removeItem("user");
        Toast.fire({
            icon: "success",
            title: "Log Out successfully",
        });
        this.$router.push({ name: "/login" });
    },
};
</script>
