<template>
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <!-- Authentication Start-->
    <div id="authentication">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-lg-7 auth-border d-flex mx-auto p-0">
            <div class="auth-image my-auto">
              <a href="#">
                <img
                  :src="'../frontend/others/logo.jpg'"
                  class="img-fluid w-75"
                  alt="Siren Garments Hub"
                />
              </a>
            </div>
            <div class="right-border"></div>
            <form class="recover-form auth-form mx-auto">
              <div class="form-title text-center">
                <h2>Forgot Your Password?</h2>
                <p>
                  Enter your email address/phone number and we will send you a
                  verification code to reset your password.
                </p>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="mail"
                  id="inputemail"
                  placeholder="Enter you email/phone"
                />
              </div>
              <button type="submit" class="auth-btn">
                Send verification code
              </button>
              <div class="row">
                <div class="col-md-6">
                  <router-link to="/user/login" class="login"
                    >Already Have Account</router-link
                  >
                </div>
                <div class="col-md-6">
                  <p class="change_link">
                    New to site?
                    <router-link to="/user/register">
                      Create Account</router-link
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Authentication End-->
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>