<template>
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <!-- Authentication Start-->
    <div id="authentication">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-lg-7 auth-border d-flex mx-auto p-0">
            <div class="auth-image my-auto">
              <a href="#">
                <img
                  :src="'../frontend/others/logo.jpg'"
                  class="img-fluid w-75"
                  alt="Siren Garments Hub"
                />
              </a>
            </div>
            <div class="right-border"></div>
            <form
              class="recover-form auth-form mx-auto"
              @submit.prevent="signin"
            >
              <div class="form-title text-center">
                <h2>Login Here</h2>
              </div>
              <div class="form-group mb-2">
                <input
                  type="email"
                  class="form-control"
                  name="mail"
                  id="inputemail"
                  placeholder="Enter you email"
                  v-model="form.email"
                />
                <small class="text-danger" v-if="errors.email">{{
                  errors.email
                }}</small>
              </div>

              <div class="form-group mb-2">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="inputPassword"
                  placeholder="Enter your Password"
                  v-model="form.password"
                />
                <small class="text-danger" v-if="errors.password">{{
                  errors.password
                }}</small>
              </div>
              <button type="submit" class="auth-btn">Submit</button>

              <div class="row">
                <div class="col-md-6">
                  <router-link to="/user/forget" class="reset_pass"
                    >Lost your password?</router-link
                  >
                </div>
                <div class="col-md-6">
                  <p class="change_link">
                    New to site?
                    <router-link to="/user/register">
                      Create Account</router-link
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Authentication End-->
  </div>
</template>
  <script>
export default {
  created() {
    if (User.logedIn()) {
      this.$router.push({ name: "home" });
    }
  },
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
      errors: "",
    };
  },
  methods: {
    signin() {
      axios
        .post("/api/auth/customer/login", this.form)
        .then((res) => {
          User.responseAfterLogin(res);
          Toast.fire({
            icon: "success",
            title: "Signed in successfully",
          });
          this.$router.push({ name: "/"});
        })

        .catch((error) => (this.errors = error.response.data.errors));
    },
  },
};
</script>
  