<template>
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <!-- Authentication Start-->
    <div id="authentication">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-lg-7 auth-border d-flex mx-auto p-0">
            <div class="auth-image my-auto">
              <a href="#">
                <img
                  :src="'../frontend/others/logo.jpg'"
                  class="img-fluid w-75"
                  alt="Siren Garments Hub"
                  v-if="id === null"
                />
                <img
                  :src="'../../frontend/others/logo.jpg'"
                  class="img-fluid w-75"
                  alt="Siren Garments Hub"
                  v-else
                />
              </a>
            </div>
            <div class="right-border"></div>
            <form
              class="recover-form auth-form mx-auto"
              @submit.prevent="signup"
            >
              <div class="form-title text-center">
                <h2>Create New Account</h2>
              </div>
              <input
                type="hidden"
                class="form-control"
                placeholder="id"
                v-model="form.id"
              />
              <div class="form-group mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="username"
                  v-model="form.name"
                />
                <small class="text-danger" v-if="errors.name">{{
                  errors.name
                }}</small>
              </div>
              <div class="form-group mb-2">
                <input
                  type="number"
                  class="form-control"
                  v-model="form.phone"
                  placeholder="Enter your phone number"
                  @keypress="validate(event)"
                />
                <small class="text-danger" v-if="errors.phone">{{
                  errors.phone
                }}</small>
              </div>
              <div class="form-group mb-2">
                <input
                  type="email"
                  class="form-control"
                  placeholder="email"
                  v-model="form.email"
                />
                <small class="text-danger" v-if="errors.email">{{
                  errors.email
                }}</small>
              </div>

              <div class="form-group mb-2">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter Password"
                  v-model="form.password"
                />
                <small class="text-danger" v-if="errors.password">{{
                  errors.password
                }}</small>
              </div>
              <button type="submit" class="auth-btn">Submit</button>

              <div class="row">
                <div class="col-md-6">
                  <router-link to="/user/forget" class="reset_pass"
                    >Lost your password?</router-link
                  >
                </div>
                <div class="col-md-6">
                  <p class="change_link">
                    Already a member ?
                    <router-link to="/user/login">Log in</router-link>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Authentication End-->
  </div>
</template>
  
<script>
export default {
  created() {
    // if (User.logedIn()) {
    //   this.$router.push({ name: "home" });
    // }
  },
  data() {
    return {
      form: {
        name: "",
        phone: "",
        email: "",
        password: "",
        id: this.$route.params.id,
      },
      errors: "",
    };
  },
  methods: {
    signup() {
      var id = this.$route.params.id;
      axios
        .post("/api/auth/customer/registration", this.form)
        .then((res) => {
          User.responseAfterLogin(res);
          Toast.fire({
            icon: "success",
            title: "successfully Register",
          });

          this.$router.push({ name: "productDetails", params: { id: id } });
        })
        .catch((error) => (this.errors = error.response.data.errors));
    },
    validate(evt) {
      var theEvent = evt || window.event;

      // Handle paste
      if (theEvent.type === "paste") {
        key = event.clipboardData.getData("text/plain");
      } else {
        // Handle key press
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
      }
      var regex = /[0-9]|\./;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    },
  },
};
</script>

  
  <style scoped>
</style>