<template>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Category <small>Add New Category</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <router-link to="/Category-list" class="btn btn-outline-primary">
                Category List
              </router-link>
            </li>
            <li>
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fa fa-wrench"></i
              ></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a class="dropdown-item" href="#">Settings 1</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form @submit.prevent="updateCategory">
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="category_name"
                >Category Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="category_name"
                  class="form-control"
                  v-model="form.category_name"
                />
                <small class="text-danger" v-if="errors.category_name">{{
                  errors.category_name[0]
                }}</small>
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="category_img"
                >Category Icon
              </label>
              <div class="col-md-6 col-sm-6">
                <input
                  type="text"
                  id="category_icon"
                  class="form-control"
                  v-model="form.category_img"
                />
                <small class="text-danger" v-if="errors.category_img">{{
                  errors.category_img[0]
                }}</small>
              </div>
            </div>
            <div class="item form-group">
              <label
                class="col-form-label col-md-3 col-sm-3 label-align"
                for="cat_status"
                >Status
              </label>
              <div class="col-md-1 col-sm-1">
                <input
                  type="checkbox"
                  id="cat_status"
                  class="form-control"
                  value="1"
                  v-model="form.cat_status"
                />
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="item form-group">
              <div class="col-md-6 col-sm-6 offset-md-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (!User.logedIn()) {
      this.$router.push({ name: "/" });
    }
  },

  mounted() {
    let id = this.$route.params.id;
    axios
      .get("/api/category/edit/" + id, this.form)
      .then(({ data }) => (this.form = data))
      .catch(console.log("error"));
  },
  data() {
    return {
      form: {
        category_name: "",
        category_icon: "",
        cat_status: "",
      },
      errors: "",
    };
  },
  methods: {
    updateCategory() {
      let id = this.$route.params.id;
      axios
        .post("/api/category/update/" + id, this.form)
        .then((res) => {
          Toast.fire({
            icon: "success",
            title: "Category Updated successfully",
          });
          this.$router.push({ name: "categoryList" });
        })
        .catch((error) => (this.errors = error.response.data.errors));
    },
  },
};
</script>
