<template>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Supplier <small>Add New Supplier</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link to="/Supplier-list" class="btn btn-outline-primary">
                                Supplier List
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>
                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 1</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Settings 2</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form
                        id="demo-form2"
                        data-parsley-validate
                        class="form-horizontal form-label-left"
                        @submit.prevent="updateSupplier"
                    >
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="name"
                                >Full Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="name"
                                    class="form-control"
                                    v-model="form.name"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.name"
                                    >{{ errors.name[0] }}</small
                                >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                for="email"
                                >Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                <input
                                    type="text"
                                    id="email"
                                    name="email"
                                    class="form-control"
                                    v-model="form.email"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.email"
                                    >{{ errors.email[0] }}</small
                                >
                            </div>
                        </div>
                        <div class="item form-group">
                            <label
                                for="address"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Address</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="address"
                                    class="form-control"
                                    type="text"
                                    name="address"
                                    v-model="form.address"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.address"
                                    >{{ errors.address[0] }}</small
                                >
                            </div>
                        </div>

                         <div class="item form-group">
                            <label
                                for="phone"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Phone</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="phone"
                                    class="form-control"
                                    type="text"
                                    name="phone"
                                    v-model="form.phone"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.phone"
                                    >{{ errors.phone[0] }}</small
                                >
                            </div>
                        </div>

                         <div class="item form-group">
                            <label
                                for="shop_name"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Shop Name</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <input
                                    id="shop_name"
                                    class="form-control"
                                    type="text"
                                    name="shop_name"
                                    v-model="form.shop_name"
                                />
                                <small
                                    class="text-danger"
                                    v-if="errors.shop_name"
                                    >{{ errors.shop_name[0] }}</small
                                >
                            </div>
                        </div>

                        <div class="item form-group">
                            <label
                                for="photo"
                                class="col-form-label col-md-3 col-sm-3 label-align"
                                >Photo</label
                            >
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-10">
                                    <input
                                        id="photo"
                                        class="btn btn-info"
                                        type="file"
                                        name="photo"
                                        @change="onFileSelected"
                                    />
                                    <small
                                        class="text-danger"
                                        v-if="errors.photo"
                                        >{{ errors.photo[0] }}</small
                                    >
                                </div>
                                <div class="col-md-2">
                                    <img
                                        :src="form.photo"
                                        alt=""
                                        style="height: 40px; width: 40px"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn btn-primary" type="button">
                                    Cancel
                                </button>
                                <button class="btn btn-primary" type="reset">
                                    Reset
                                </button>
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    mounted() {
        let id = this.$route.params.id;
        axios.get('/api/supplier/'+id,this.form)
        .then(({data}) => this.form = data)
        .catch(console.log('error'))
    },
    data() {
        return {
            form: {
                name: "",
                email: "",
                address: "",
                shop_name: "",
                photo: "",
                phone: "",
                newPhoto:""
            },
             errors: "",
        };

    },
    methods: {
        onFileSelected(event) {
            // console.log(event.target.files[0]);
            let file = event.target.files[0];
            if (file.size > 1048770) {
                Toast.fire({
                    icon: "error",
                    title: "Image is less then 1MB",
                });
            } else {
                let reader = new FileReader();
                reader.onload = (event) => {
                    this.form.newPhoto = event.target.result;
                };
                reader.readAsDataURL(file);
            }
        },
        updateSupplier() {
            let id = this.$route.params.id;
            axios
                .patch("/api/supplier/"+id, this.form)
                .then((res) => {
                    Toast.fire({
                        icon: "success",
                        title: "Update successfully",
                    });

                    this.$router.push({ name: "supplierList" });
                })
                .catch((error) => (this.errors = error.response.data.errors));
        },
    },
};
</script>

