<template>
    <div>
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Supplier List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <router-link
                                to="/add-supplier"
                                class="btn btn-outline-primary"
                            >
                                Add Supplier
                            </router-link>
                        </li>
                        <li>
                            <a class="collapse-link"
                                ><i class="fa fa-chevron-up"></i
                            ></a>
                        </li>

                        <li class="dropdown">
                            <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-expanded="false"
                                ><i class="fa fa-wrench"></i
                            ></a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                            >
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"
                                ><i class="fa fa-close"></i
                            ></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Search</label>
                            <input
                                type="text"
                                class="form-control"
                                name="serachBar"
                                v-model="searchBar"
                                style="width: 50%"
                            />
                            <br />
                            <div class="card-box table-responsive">
                                <table
                                    id="datatable-buttons"
                                    class="table table-striped table-bordered data-table"
                                    style="width: 100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Photo</th>
                                            <th>Phone</th>
                                            <th>Shop Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            v-for="supplier in filterSearch"
                                            :key="supplier"
                                        >
                                            <td>{{ supplier.name }}</td>
                                            <td>
                                                <img
                                                    id="img_photo"
                                                    :src="supplier.photo"
                                                />
                                            </td>

                                            <td>{{ supplier.phone }}</td>
                                            <td>{{ supplier.shop_name }}</td>
                                            <td>
                                                <router-link
                                                    :to="{ name:'edit-supplier',params:{id:supplier.id}}"
                                                    class="btn btn-primary"
                                                    >Edit</router-link
                                                >
                                                <button
                                                    type="button"
                                                    class="btn btn-danger"
                                                    @click="deleteSupplier(supplier.id)"
                                                >
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { identifier } from "@babel/types";

export default {
    created() {
        if (!User.logedIn()) {
            this.$router.push({ name: "/" });
        }
    },
    data() {
        return {
            suppliers: [],
            searchBar: "",
        };
    },
    computed: {
        filterSearch() {
            return this.suppliers.filter((supplier) => {
                return supplier.name.match(this.searchBar);
            });
        },
    },
    methods: {
        allSuppliers() {
            axios
                .get("/api/supplier/")
                .then((response) => (this.suppliers = response.data))
                .catch(console.log("error"));
        },
        deleteSupplier(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "Are you Sure to Delete This Supplier",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                axios.delete('/api/supplier/'+id)
                .then(() => {
                    this.suppliers = this.suppliers.filter((supplier) => {
                        return supplier.id != id
                    })
                })

                .catch(({}) =>{
                    this.$router.push({name:"supplierList"})
                })

                if (result.isConfirmed) {
                    Swal.fire(
                        "Deleted!",
                        "Your file has been deleted.",
                        "success"
                    );
                }
            });
        },
    },
    mounted() {
        this.allSuppliers();
    },
};
</script>

<style scoped>
#img_photo {
    width: 40px;
    height: 40px;
}
</style>
