<template>
  <!-- Banner Slider Start -->
  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/banner/01.webp" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="./assets/images/banner/02.webp" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="./assets/images/banner/03.webp" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->
  <div class="container-fluid default-dash">
    <!-- Banner Slider Start -->
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            v-bind:src="'./assets/images/banner/01.webp'"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            v-bind:src="'./assets/images/banner/02.webp'"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            v-bind:src="'./assets/images/banner/03.webp'"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div id="gallery">
    <div class="section_padding">
      <div class="row title-lg">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 d-none d-sm-none d-md-none d-lg-block"
        >
          <div class="headline shadow-sm">
            <div class="left">
              <span class="text">Our Products</span>
            </div>
            <div class="dropdown">
              <select class="sort" name="" id="">
                <option value="">Price: Low to High</option>
                <option value="">Price: High to Low</option>
                <option value="">Latest First</option>
                <option value="">Oldest First</option>
              </select>
              <span class="arrow"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row title-mb">
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-12 d-block d-sm-block d-md-block d-lg-none"
        >
          <div class="headline shadow-sm">
            <a class="link" rel="alternate" href="#" hreflang="en-BD"
              ><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <span class="text">Our Products</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 gallery-detail">
          <div class="row gallery">
            <!-- <router-link to="/product-details"> -->
            <Product
              v-for="product in products"
              :key="product.id"
              :name="product.name"
              :product_image="product.product_image"
              :id="product.id"
              :product_price="product.product_price"
            />
            <!-- </router-link> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Product from "./productList.vue";
export default {
  components: {
    Product,
  },
  data() {
    return {
      products: [],
    };
  },
  computed: {},
  methods: {
    productList() {
      axios
        .get("/api/product")
        .then((response) => (this.products = response.data))
        .catch(console.log("error"));
    },
  },

  mounted() {
    this.productList();
  },
};
</script>

<style scoped>
#img_photo {
  width: 40px;
  height: 40px;
}
</style>
