<template>
  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
    <router-link :to="{ name: 'productDetails', params: { id: id } }">
      <div class="productCard">
        <div class="productImage">
          <img
            :src="'./assets/images/product-image/' + product_image"
            class="productCard-img-top w-100"
            alt="..."
          />
        </div>
        <div class="productCard-body">
          <div style="min-height: 65px">
            <h5 class="productCard-title">
              {{ name }}
            </h5>
            <div class="ProductDiscount">
              <span class="product_price">৳ {{ product_price }}</span>
              <!-- <span class="discountPercent jss229">15% Off</span> -->
            </div>

            <div class="rating">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
          </div>
          <!-- <a href="#" class="btn btn-outline-primary d-grid"
                    >ADD TO CART</a
                  > -->

          <!-- <router-link>ADD TO CART</router-link> -->
          <a
            href=""
            @click.prevent="addToCart"
            class="btn btn-outline-primary d-grid"
            >ADD TO CART</a
          >
          <!-- <router-link
            class="btn btn-outline-primary d-grid"
            to="/product-details"
            >ADD TO CART</router-link
          > -->
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AddToCart",
  created() {
    User.id();
  },
  props: {
    name: { String },
    product_image: String,
    id: Number,
    product_price: Number,
  },
  data() {
    return {
      user_id: User.id(),
    };
  },
  methods: {
    async addToCart() {
      await axios
        .post("/api/store/cartadd/", {
          product_id: this.id,
          user_id: User.id(),
        })
        .then((res) => {
          Toast.fire({
            icon: "success",
            title: "Category Save successfully",
          });
          console.log(res.data);
        })
        .catch((error) => (this.errors = error.response.data.errors));
    },
  },
};
</script>

<style>
</style>