<template>
  <div
    class="container-fluid default-dash"
    v-for="product in products"
    :key="product"
  >
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4">
                <div class="product-img-box">
                  <div class="img-display">
                    <div class="img-showcase">
                      
                      <img
                        :src="
                          '../assets/images/product-image/' +
                          product.product_image
                        "
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-content">
                  <h2 class="product-title">
                    {{ product.name }}
                  </h2>

                  <div class="product-price-box">
                    <div class="recently_view">                      
                      <span>28625 people recently viewed this.</span>
                    </div>
                    <div class="product-price">
                      <p class="new-price">Price: <span>৳2300.00 </span></p>
                    </div>
                  </div>
                  <!-- <div class="quantity">
                    <button class="btn minus-btn disabled" type="button">
                      <i class="fas fa-minus"></i>
                    </button>
                    <input type="text" id="quantity" value="1" />
                    <button class="btn plus-btn" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="quantity2">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Select</option>
                      <option value="1">1 * 1's Pack</option>
                      <option value="2">2 * 1's Pack</option>
                      <option value="3">3 * 1's Pack</option>
                      <option value="4">4 * 1's Pack</option>
                      <option value="5">5 * 1's Pack</option>
                      <option value="6">6 * 1's Pack</option>
                      <option value="7">7 * 1's Pack</option>
                    </select>
                  </div>-->
                  <div class="add-to-cart">
                    <button type="button" class="btn_cart">
                      Add to Cart <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn_buy" style="margin-left: 5px;">Buy it now</button>
                  </div> 
                  <!-- <div class="additional_info">
                    <div class="additional-title">
                      <span class="addition_heading">Additional Offers</span>
                      <span id="showAll"
                        ><button
                          class="show-btn border-0"
                          type="button"
                          onclick="showAll();"
                        >
                          Show All
                        </button></span
                      >
                      <span id="showless"
                        ><button
                          class="show-btn border-0"
                          type="button"
                          onclick="showLess();"
                        >
                          Show less
                        </button></span
                      >
                    </div>
                    <ul>
                      <li>
                        <i class="far fa-check-circle"></i
                        ><strong>Cashback ৳100 : </strong
                        ><span>For purchasing above ৳5000+</span>
                      </li>
                      <li>
                        <i class="far fa-check-circle"></i
                        ><strong>Cashback ৳80 : </strong
                        ><span>For purchasing above ৳4000+</span>
                      </li>
                      <li>
                        <i class="far fa-check-circle"></i
                        ><strong>Cashback ৳60 : </strong
                        ><span>For purchasing above ৳3000+</span>
                      </li>
                      <li id="lOne">
                        <i class="far fa-check-circle"></i
                        ><strong>Cashback ৳40 : </strong
                        ><span>For purchasing above ৳2000+</span>
                      </li>
                      <li id="lTwo">
                        <i class="far fa-check-circle"></i
                        ><strong>Cashback ৳20 : </strong
                        ><span>For purchasing above ৳1000+</span>
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="single-product-view">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-md-12">
          <div class="card">
            <div class="card-body p-2">
              <!--Product Details and Customer Reviews Part start-->
              <!--
                                      |--------------------------------------------------------------------------
                                      | Product Details Start
                                      |--------------------------------------------------------------------------
                                    -->
              <div class="product-details">
                <h4>Description</h4>
                {{ product.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: "",
    };
  },
  computed: {},
  methods: {
    productList() {
      let id = this.$route.params.id;
      axios
        .get("/api/product-details/" + id)
        .then((response) => (this.products = response.data))
        .catch(console.log("error"));
    },
  },

  mounted() {
    this.productList();
  },
};
</script>
<style scoped>
</style>