<template>
  <!-- Page Sidebar Ends-->
  <!-- Container-fluid starts-->
  <div class="container-fluid default-dash">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mt-3">
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <form action="" method="post" id="formID">
                @csrf

                <div class="card-body p-2">
                  <div class="row">
                    <div class="col-12 table-responsive">
                      <div class="card">
                        <div class="card-header bg-primary">
                          <div class="col-md-12 row">
                            <div class="col-md-8">
                              <div class="float-left">
                                <h5 class="mt-2 mb-0 float-left">
                                  Add Product
                                </h5>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div id="top-action">
                                <span
                                  id="med_td_action_product_0"
                                  style="float: right"
                                  onclick="addNewProduct(this)"
                                  class="btn btn-md btn-outline-success float-right mt-2"
                                >
                                  +Add New Product
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="card-body 0"
                        style="border: 1px solid aqua"
                        id="table_dt"
                      >
                        <table
                          class="table table-striped table-bordered table-hover"
                        >
                          <thead class="global-uhl-table-bg">
                            <tr>
                              <th>Size</th>
                              <th>Quantity</th>
                              <th>Comment</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="data-append-to">
                            <div class="custom-file">
                              <div class="col-md-12 row">
                                <div class="col-md-8">
                                  <div class="float-left">
                                    <input
                                      type="file"
                                      class="custom-file-input form-control"
                                      id="upload_app"
                                      name="upload_"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div id="top-action">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="color_0"
                                      name="color"
                                      placeholder="Enter color"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <tr id="0">
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="size_0"
                                  name="size[]"
                                  placeholder="Enter Size"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control mb-0 text-right hdn_item_qnty"
                                  onkeyup="setQty(this)"
                                  id="quantity_0"
                                  name="hdn_item_qnty[]"
                                  value="1"
                                />
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="comment_0"
                                  name="comment[]"
                                  placeholder="Enter Comment"
                                  maxlength="100"
                                />
                              </td>

                              <td>
                                <span
                                  id="med_td_action_0"
                                  onclick="addNewRow(this)"
                                  class="btn btn-md btn-outline-success"
                                >
                                  +Add
                                </span>
                              </td>
                            </tr>
                          </tbody>
                          <tr>
                            <td style="text-align: right" class="text-right">
                              Total Quantity
                            </td>
                            <td><span id="t_qty">0</span></td>
                            <td></td>
                            <td></td>
                          </tr>

                          <br />
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>